.titulo{
    border-style: groove;
}

/* Border-style ele serve para criar a borda ao redor da palavra assim como ficou na tabela */
.número1{
    background-color: #8ACFF8
;
}
.número3{
    background-color:#8ACFF8
 ;
}



